[submodule "submodules/CLI11"]
	path = submodules/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "submodules/ctpl"]
	path = submodules/ctpl
	url = https://github.com/vit-vit/ctpl
[submodule "submodules/plog"]
	path = submodules/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "submodules/CTIOL"]
	path = submodules/CTIOL
	url = ssh://git@gitlab.stimulate.ovgu.de:2200/vojtech.kulvait/CTIOL.git
